

.item {
  width: 100%;
  margin-bottom: 12px;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.track:hover{
  cursor: pointer;
  background-color: rgba(95, 59, 153, 0.56);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 447px;
}

.image {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: var(--playlist_item_image);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary_color);
}

.span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.author {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.author_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary_color);
  text-align: left;
}

.album {
  width: 245px;
}

.album_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.track__like_time_box {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.track__time_svg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.track__time_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}
