@keyframes myAnim {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


.container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container__image {
    width: 51px;
    height: 51px;
    background-color: #313131;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

.container__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.container__info_song {
    height: 18px;
    width: 45px;
    background-color: #313131;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

.container__info_artist {
    height: 18px;
    width: 45px;
    background-color: #313131;
    animation: myAnim 2s ease 0s infinite normal forwards;
}