

.filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
    border-radius: 60px;
    padding: 6px 20px;
    transition: 0.2s;
}

.filter__button:not(:last-child) {
    margin-right: 10px;
}

.effects:hover {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}

.effects:active {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}

.active {
    border-color: #ad61ff;
    color:#ad61ff;
}