@import '../../../../../../variables';

.player__track_play {
    display: flex;
    flex-direction: row;
}

.track_play__contain {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'image author' 'image album';
    align-items: center;
}

.track_play__image {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    grid-area: image;
}

.track_play__svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.track_play__author {
    grid-area: author;
    min-width: 49px;
}

.track_play__author_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    white-space: nowrap;
}

.track_play__album {
    grid-area: album;
    min-width: 49px;
}

.track_play__album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: $white;
}

.track_play__like_dis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26%;
    gap: 39px;
}
