
.content {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: var(--track_title_text);
  text-transform: uppercase;
}

.col01 {
  width: 430px;
}

.col02 {
  width: 305px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}

.title__svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
  margin-right: 10px;
}

.playlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
