$black: #181818;
$white: #ffffff;
$brown: brown;
$grey_button: #D0CECE;
$grey_button_bgc: #F4F5F6;
$grey_burger:#D3D3D3;
$grey_wrapper:#383838;
$grey_scrollbar: #4B4949;
$grey_dark: #313131;
$grey_standard: #4e4e4e;
$grey_light: #696969;
$player_bar: rgba(28, 28, 28, 0.9);
$grey_centerBlock_title: #696969;
$purple: #ad61ff;
$light_purple: #d9b6ff;
$purple_standard: #B672FF;
$purple_dark: rgba(111, 54, 218, 0.925);
$purple_bright: #580EA2;
$purple_bright_hover: #3F007D;
$purple_bright_active: #271A58;